body {
  width: 100%;
  width: 100%;
}

.item {
  white-space: nowrap;
  margin: 0 4px;
}

.hidden {
  display: none;
}

.delete-row {
  display: block;
  width: 1rem;
  height: 1rem;
  border: none;
  background-image: var(--pico-icon-close);
  background-position: center;
  background-size: auto 1rem;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.5;
  margin-left: auto;
}

#footer-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

#config-button {
  justify-self: end;
}

.fire {
  color: var(--pico-color-red-400);
}
.water {
  color: var(--pico-color-azure-400);
}
.thunder {
  color: var(--pico-color-yellow-100);
}
.ice {
  color: var(--pico-color-blue-450);
}
.dragon {
  color: var(--pico-color-violet-550);
}
.poison {
  color: var(--pico-color-purple-500);
}
.paralysis {
  color: var(--pico-color-amber-150);
}
.sleep {
  color: var(--pico-color-indigo-550);
}
.explosion {
  color: var(--pico-color-orange-350);
}
