body {
  width: 100%;
  width: 100%;
}

.item {
  white-space: nowrap;
  margin: 0 4px;
}

.hidden {
  display: none;
}

.delete-row {
  display: block;
  width: 1rem;
  height: 1rem;
  border: none;
  background-image: var(--pico-icon-close);
  background-position: center;
  background-size: auto 1rem;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.5;
  margin-left: auto;
}

#footer-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

#config-button {
  justify-self: end;
}
